################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RoomMeasureNI/bin/x86/Debug
/RoomMeasureNI/bin/*
/RoomMeasureNI/obj/*
/.vs/*
/UnitTests/obj/*
/UnitTests/bin/*